body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.body {
    flex: 1;
    display: flex;
}

.top-section {
    background-color: #1F2937;
    border-color: red;
    color: #E5E7EB;
    font-size: 18px;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
    padding-left: 50px;
    padding-right: 50px;
}

.header {
    flex: 1;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 10px;
    margin-bottom: 100px;
}

.header .title {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header .header-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.top-section .container {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 225px;
    padding-right: 220px;
}

.top-section .container .text {
    flex-wrap: wrap;
    width: 550px;
    display: flex;
    gap: 8px;
}

.top-section .container .subtext {
    width: 500px;
}

.top-section .image-placeholder {
    height: 250px;
    width: 550px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}


 
.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.info-section {  /* Seccion lista */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 130px;
}

.info-section .container {
    flex: 1; /* Para asegurar que el container crezca acorde a su contenido. Ignora al height
                que estaba puesto abajo, asi que se lo saca. */
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
}

.info-section .subtitle {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 50px;
}

.card {
    height: 275px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;

}

.info-section .container .card .placeholder {
    height: 175px;
    width: 170px;
    border-style: solid;
    border-color: #3882F6;
    border-width: thick;
    border-radius: 10px;

}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.quote-section {
    flex: 1;
    height: 400px;
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px 450px;
    flex-wrap: wrap;
}

.quote-section .quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    flex-wrap: wrap;
}

.quote-section .quote-autor {
    font-weight: bold;
    font-size: 22px;
    align-self: flex-end;
    margin-right: 100px;
}

.footer {
    height: 100px;
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-size: 18px;
}

button {
    padding: 8px 30px;
    background: #3882F6;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}

.call-section {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-section .main-container {
    flex: 1;
    height: 150px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 125px;
    margin: 350px;
    flex-wrap: wrap;
    gap: 75px;
}

.call-section .text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.call-section .text-container .call-text {
    font-size: 22px;
    font-weight: bold;
}

.call-section .main-container .sign-button {
    font-weight: bold;
    padding: 8px 40px;
    border: 2px solid white;

}

.call-section .main-container .sign-button:active {
    box-shadow: box-shadow:
              7px 6px 28px 1px rgba(0, 0, 0, 0.24);
            transform: translateY(4px);
}

.top-section .sign-button {
    font-weight: bold;
    border: 1px solid #3882F6;x;
}

.top-section .sign-button:active {
    box-shadow: box-shadow:
              7px 6px 28px 1px rgba(0, 0, 0, 0.24);
            transform: translateY(4px);
}